@media(max-width: 1285px){
    .todo{
        display: none;
    }
    .nada{
        background: black;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: red;
        overflow: hidden;
    }
    

}
@media(min-width: 1285px){
    .nada{
        display: none;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todo{
    width: 100%;
    height: 100vh;
    font-size: 1em;
    background: #14141d;
}
.cabeza{
    width: 100%;
    height: 10vh;
}
.navA{
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #fff;
}
.navA a{
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin-right: 3vh;
    border: 2px solid black;
    transition: .3s;
}
.navA a:hover{
    color:rgb(255, 190, 137);
    text-shadow: 0 0 4px rgb(255, 135, 66),
    0 0 6px rgb(255, 135, 66);
}
.navB{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vh;
}
.navB h3{
    font-size: 4em;
    color: rgba(255, 166, 0, 0.363);
    transition: .3s;
}
.navB h3:hover{
    font-size: 4.3em;
    color: rgb(255, 115, 0);

}
.navB a{
    margin-right: 3vh;
    text-decoration: none;
    color: orange; 
    padding: 0.5vh 3vh;
    transition: .2s;
}
.navB a:hover, .active{
    border: 3px solid rgb(255, 115, 0);
}
section{
    width: 88%;
    height: 70vh;
    margin: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 60vh;
    margin: 2vh;
    border: rgb(104, 38, 0) solid 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: rgb(255, 213, 189);
}
.top a{
    text-decoration: none;
    margin-top: 4vh;
    padding: 1vh 2vh;
    border-radius: 10px;
    border: rgb(255, 255, 255) 2px solid ;
    color: white;
    background: orange;
}
.top h1{
    font-size: 3em;
    color: rgba(255, 102, 0, 0.993);
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col{
    margin-top: 10vh;
    color: white;
}
.col h2{
    margin-bottom: 2vh;
    border-bottom: 2px solid orange ;
}}